body,html{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    margin: 0;
    -webkit-user-drag: none; /* Chrome, Safari */
    user-select: none; /* Empêche sélection sur texte */
    -webkit-user-select: none; /* Pour Chrome/Safari */
    -moz-user-select: none; /* Pour Firefox */
    -ms-user-select: none; /* Pour IE/Edge */

}

.game{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.gameW{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 30%;
}

.zCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 50vh;
    border: 2px solid white;
    background-image: url("../assets/bg.png");
    background-position: center;
    border-radius: 10px;

    box-shadow: 0 0 50px 0 rgb(255, 255, 255);
    transition: box-shadow 0.5s ease;


    position: relative; /* nécessaire pour que les spans absolus se placent dans la carte */

}


infoCard{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.527);
    justify-content: space-around;
    width: 90%;
    height: 10%;
    border-radius: 10px;

}

.imgCard {
    width: 70%;
    height: 70%;
    object-fit: contain; 
}


.progressbar-wrapper {
    background-color: rgb(87, 87, 87);
    border-radius: 15px;
    width: 90%;
    height: 20px;
    margin-bottom: 5%;
}

.progressbar {
    background-color: green;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: width 0.3s ease; /* animation fluide quand PV changent */
}

.hpWrapper{
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    width: 20%;
}

.hp{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button{
    display: flex;
    margin:auto;
    text-align: center;
    justify-content: center;
    width: 60%;
    margin-top: 15%;
    font-size: 1.5rem;
    background-color: green;
    border-radius: 15px;
    padding: 5px;

    box-shadow: 0 0 20px 0 green;
    transition: box-shadow 0.5s ease;
}


.floating-damage {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff5555;
    pointer-events: none;
    animation: floatUp 1s forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}
